body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    height: 150px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: xx-large;
}

button {
    margin-top: 20px;
}