body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    height: 150px;
    border: 1px solid black;
}